<div class="container mt-4">
  <h2>Créer un nouveau produit</h2>
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Nom du produit</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{'is-invalid': productForm.get('name')?.invalid && productForm.get('name')?.touched}"
      />
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="invalid-feedback">
        Le nom du produit est requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Prix du produit</label>
      <input
        id="price"
        type="number"
        class="form-control"
        formControlName="price"
        [ngClass]="{'is-invalid': productForm.get('price')?.invalid && productForm.get('price')?.touched}"
      />
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="invalid-feedback">
        Le prix du produit est requis.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Disponibilité</label>
      <div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            id="available"
            formControlName="checked"
            value="true"
            class="form-check-input"
            [ngClass]="{'is-invalid': productForm.get('checked')?.invalid && productForm.get('checked')?.touched}"
          />
          <label for="available" class="form-check-label">Disponible</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            id="notAvailable"
            formControlName="checked"
            value="false"
            class="form-check-input"
            [ngClass]="{'is-invalid': productForm.get('checked')?.invalid && productForm.get('checked')?.touched}"
          />
          <label for="notAvailable" class="form-check-label">Indisponible</label>
        </div>
      </div>
      <div *ngIf="productForm.get('checked')?.invalid && productForm.get('checked')?.touched" class="invalid-feedback">
        La disponibilité est requise.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Créer
    </button>
  </form>
</div>
